# Processing data for modelling

In [2]:
import pandas as pd
# test with feature_engineering.py
prices = pd.read_csv('data/train_files/stock_prices.csv', parse_dates=[1])
print(prices.shape)
prices.head(2)

(2332531, 12)

,RowId,Date,SecuritiesCode,Open,High,Low,Close,Volume,AdjustmentFactor,ExpectedDividend,SupervisionFlag,Target
0,20170104_1301,2017-01-04,1301,2734.0,2755.0,2730.0,2742.0,31400,1.0,NaN,False,0.000730
1,20170104_1332,2017-01-04,1332,568.0,576.0,563.0,571.0,2798500,1.0,NaN,False,0.012324

In [3]:

from feature_engineering import fill_and_drop_na_values

fill_prices = fill_and_drop_na_values(prices)
print(fill_prices.shape)
fill_prices.head(2)

 42%|████▏     | 839/2000 [00:46<01:52, 10.28it/s]

In [ ]:
from feature_engineering import adjust_price

adjusted_price = adjust_price(fill_prices)
print(adjusted_price.shape)
adjusted_price.head(2)

In [ ]:
#from feature_engineering import fill_finances

financial = financial = pd.read_csv('data/train_files/financials.csv',parse_dates=[2])
financial.head(2)

In [ ]:
from feature_engineering import fill_finances_knn



filled_finances = fill_finances_knn(financial, prices)
filled_finances.head()

In [ ]:
# concat financials and price
price_financial = pd.merge(adjusted_price, filled_finances, how='left', on='SecuritiesCode')

In [ ]:
price_financial.columns